<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pradeep</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Hello</h1>

    <form action="{%url 'count'%}">

        <textarea cols="50" rows="8" name="fulltext"></textarea>
        <br>
        <input type="Submit" value="Count Words" />

    </form>
    
</body>
</html>